# Java output files.
*.class
trading/bin
out

# intellij files.
trading/.idea
*.iml
/.idea

# Maven target folder
trading/target
common/target
ui/target
integration/target
mean-reversion/target
momentum/target
priceChannel/target

# fonts (for now)
ui/src/main/resources/fonts

# extra output files
*.csv
*.log
*.log.*
*.csv#

MANIFEST.MF
.DS_Store
application_log*

.DS_Store

*.MF
