#comparison-graph .chart-series-line {
    -fx-stroke-width: 4px;
    -fx-opacity: 0.8;
}

#comparison-graph .chart-series-line:hover {
    -fx-opacity: 1.0;
}

#company-profile {
    -fx-padding: 10px 0px 0px 0px;
}

#comparison-charts {
    -fx-padding: 10px 20px 10px 10px;
}

#optimal {
    -fx-stroke-dash-array: 1 10;
}

#strategy-table {
    -fx-padding: 20px;
}