
/* Sourced from http://stackoverflow.com/questions/19788661/change-javafx-tab-default-look */

.tab-pane
{
    -fx-tab-min-width:150px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
    /*-fx-background-color: black;*/
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 10px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.tutorial-modal {
    -fx-background-color: white;
}

.loader {
    -fx-spacing: 20px;
}

#footer {
    -fx-padding: 5px 0px 5px 15px;
}

#footer-text {
    -fx-padding: 0px 15px 0px 0px;
    -fx-spacing: 20px;
}

#header {
    -fx-background-color: white;
    -fx-padding: 5px 0px 10px 20px;
}

#run-button {
    -fx-pref-height: 48px;
    -fx-pref-width: 48px;
    /*-fx-background-radius: 48px;*/
    -fx-background-color: transparent;
    -fx-opacity: 0.8;
}

#run-button:hover {
    -fx-opacity: 1;
}

.profit-label {
    -fx-text-fill: #2CFC0E;
}

.loss-label {
    -fx-text-fill: red;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 10px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-opacity: 0.8
}

.icon-button:hover {
    -fx-opacity: 1.0;
}