.default-color0.chart-series-line {
    -fx-stroke: #3915AE;
}

.info-box {
    -fx-text-alignment: center;
    -fx-background-insets: -8;
    -fx-font-size: 12;
    -fx-background-color: #3915AE, white;
}

.chart-content {
    -fx-padding: 0px 20px 0px 20px;
}

.chart {
    -fx-padding: 10px 20px 10px 0px;
}

.tooltip-content {
    -fx-font-size: 12;
}

/* ====== CANDLE STICK CHART =========================================================== */
.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}
.candlestick-candle {
    /*-fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );*/
}
.candlestick-line {
    -fx-stroke: #666666;
    -fx-stroke-width: 3px;
}
.candlestick-bar {
    -fx-padding: 5;
    /*-demo-bar-fill: red;
    -fx-background-color: linear (0%,0%) to (0%,100%) stops (0%, derive(-demo-bar-fill,-30%)) (100%, derive(-demo-bar-fill,-40%)),
                          linear (0%,0%) to (0%,100%) stops (0%, derive(-demo-bar-fill,100%)) (100%, derive(-demo-bar-fill, 10%)),
                          linear (0%,0%) to (0%,100%) stops (0%, derive(-demo-bar-fill,30%)) (100%, derive(-demo-bar-fill,-10%));*/
    -fx-background-insets: 0,1,2;
}
.candlestick-bar.close-above-open {
    -fx-background-color: green;
}
.candlestick-bar.open-above-close {
    -fx-background-color: red;
}