.graph .chart {
    -fx-padding: 10px 20px 10px 0px;
}

.graph .chart-plot-background {
    -fx-background-color: black;
}

.graph .chart-vertical-grid-lines {
    -fx-stroke: #404040;
}

.graph .chart-horizontal-grid-lines {
    -fx-stroke: #404040;
}

.tooltip-content {
    -fx-font-size: 12;
}

.selector-panel {
    -fx-padding: 15px 15px 5px 15px;
    -fx-spacing: 20px
}

/* ====== CANDLE STICK CHART =========================================================== */
.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}
.candlestick-line {
    -fx-stroke-width: 3px;
}
.candlestick-bar {
    -fx-padding: 5;
    -fx-background-insets: 0,1,2;
}
.candlestick-line.close-above-open {
     -fx-stroke: green;
 }
.candlestick-line.open-above-close {
    -fx-stroke: red;
}
.candlestick-bar.close-above-open {
    -fx-background-color: green;
}
.candlestick-bar.open-above-close {
    -fx-background-color: red;
}

.candlestick-bar.close-above-open:hover {
    -fx-background-color: #193300;
}
.candlestick-bar.open-above-close:hover {
    -fx-background-color: #990000;
}

/* Bar chart */

.bar-buy {
    -fx-bar-fill: #2CFC0E;
}

.bar-sell {
    -fx-bar-fill: red;
}

.bar-buy:hover {
    -fx-bar-fill: green;
}

.bar-sell:hover {
    -fx-bar-fill: #990000;
}

.buy {
    -fx-text-fill: green;
}

.sell {
    -fx-text-fill: red;
}

/*
.buy-row {
    -fx-text-fill: green;
}

.sell-row {
    -fx-text-fill: red;
    -fx-control-inner-background: red;
}

.normal-row {
    -fx-text-fill: black;
}
*/

#prices-table-filters {
    -fx-background-color: transparent;
}


.table-filter {
    -fx-background-color: transparent;
}

.table-filter:selected {
    -fx-background-color: #D0D0D0;
}