.default-color0.chart-series-line {
    -fx-stroke: #3915AE;
}

.info-box {
    -fx-text-alignment: center;
    -fx-background-insets: -8;
    -fx-font-size: 12;
    -fx-background-color: #3915AE, white;
}

.chart-content {
    -fx-padding: 0px 20px 0px 20px;
}

.chart {
    -fx-padding: 10px 20px 10px 0px;
}