#portfolio .chart-plot-background {
    -fx-background-color: transparent;
}

#portfolio {
    -fx-vertical-grid-lines-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-horizontal-zero-line-visible: false;
}

#portfolio .chart {
    -fx-padding: 20px 0px 0px 0px;
}

.bar-positive {
    -fx-bar-fill: #2CFC0E;
}

.bar-negative {
    -fx-bar-fill: red;
}

#portfolio .default-color0.chart-bar .loss {
    -fx-bar-fill: red;
}

.sm-label {
    -fx-font-size: 14px;
}

.lg-label {
    -fx-font-size: 30px;
}

#returns {
    -fx-background-color: white;
    -fx-padding: 30px;
}

#profit-graph .chart-series-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}

#profit-graph .chart-line-symbol {
    -fx-background-color: #106ece;
}

/* Pie Chart */
#piechart-placeholder {
    -fx-alignment: center;
    -fx-spacing: 80px;
}

#placeholder-title {
    -fx-font-size: 18px;
}