/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    /*background-image: url(http://www.stockmarketchartingprogramsanddataspecialists.info/images/slide1.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;

}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}
h1 {
    color: gray;
    font-size: 60px;
    margin: 0;
}

h3 {
    color: grey;
}

h5 {
    font-weight: bold;
}

hr {
	padding-bottom: 10px;
}

ul {
	text-align: left;
}

/* Custom page header */
.header {
    text-align: right;
    margin-top: -45px;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-weight: bold;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 900px;
        text-align: center;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

#latest-release { 
	padding: 25px;
	padding-left: 25%;
	padding-right: 25%;
    border-radius: 0;
}

#header-panel{
	padding: 20px 0 30px 0;
	margin-bottom: 10px;
    border-radius: 0;
}

#internal-panel{
	padding:5% 6% 3% 6%;
	margin-bottom: 5px;
    border-radius: 0;
}

#changelog{
	height: 400px;
	overflow-y:scroll;
	font-family: 'Monaco', 'Consolas';
	font-size: 90%;
}

#changelog-modal {
	text-align: left;
}

#custom-buttons {
    border-radius: 20px;
    color: gray;
    outline: none;
}

.modal-content {
    border-radius: 0;
}
.modal-content h3{
    color: grey;
    padding-bottom: 10px;
}

#myModalLabel {
    font-weight: 500;
    color: gray;
}

#release-list {
    text-align: left;
}

.submit-link {
	display: inline-block;
}

.subheading-content {
	padding-bottom: 20px;
}

.subheading-content > .well {
	margin-top: 20px;
}

.heading {
	font-size: 30pt;
}

.subheading-content h2 {
   position: relative;
   text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.subheading-content h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.subheading-content h2:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
	left: 10%;
  width: 80%;
}

.logo {
    height: 150px;
}

#icons {
	width: 65%;
	padding-top: 30px;
}

.nav-tabs>li>a:hover{
    background-color: #f8f8f8;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nav-tabs {
    padding-top: 2px;
    padding-left: 2px;
    border-top: outset 1px #ddd;
    border-left: outset 1px #ddd;
    border-right: solid 1px #ddd;
    background-color: white;
}

.download-panel {
    border-top: none;
}